* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: auto;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 16px;
}

div.ingredients {
    background-color: grey;
    text-align: center;
}

.ingredients.list {
    display: inline-block;
    text-align: left;
}
