* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: auto;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

div.ingredients {
    border: 3px solid purple;
    text-align: center;
    padding: 1rem;
}

.ingredients.list {
    display: inline-block;
    text-align: left;
    list-style: none;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* Updates 2023.08.18*/

header {
    border-bottom: 1px solid lightgray;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    gap: 10px;
}
.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: inherit;
}

.menu li a:hover {
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
    text-decoration: none;
}