@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

img.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: auto;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

div.ingredients {
    border: 3px solid purple;
    text-align: center;
    padding: 1rem;
}

.ingredients.list {
    display: inline-block;
    text-align: left;
    list-style: none;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* Updates 2023.08.18*/

header {
    padding: 30px 80px 10px;
    border-bottom: 1px solid lightgray;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 30px;
    color: orange;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu .main, .menu .right {
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: inherit;
}

.menu li a:hover {
    border-bottom:  2px solid orange;
    padding-bottom: 5px;
    text-decoration: none;

}
/*
.menu .main, .menu .right {
    display: flex;
    gap: 10px;
}
.menu .main li, .menu .right li {
    list-style-type: none;
}

.menu .main li a, .menu .right li a {
    text-decoration: none;
    color: inherit;
}

.menu .main li a:hover, .menu .right li a:hover {
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
    text-decoration: none;
}*/